@page
@{
    byte minValue = byte.MinValue;
    byte maxValue = byte.MaxValue;

    short minShort = short.MinValue;
    short maxShort = short.MaxValue;
}

<div>
    <h1>Tipos Numéricos</h1>
    <p>
        byte Min: @minValue
    </p>
    <p>
        byte Max: @maxValue
    </p>
    <p>
        short Min: @minShort
    </p>
    <p>
        short Max: @maxShort
    </p>
</div>
